*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: "roboto", sans-serif; }

.footer {
  align-items: center;
  background-color: #232f34;
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  gap: 0.6rem;
  justify-content: center;
  padding: 0.2rem; }
  .footer__link {
    color: #fff;
    display: inline-block;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #f9aa33; }
  .footer span:last-of-type {
    display: inline-block;
    padding: 0 0.4rem; }

.heart {
  color: rgba(223, 59, 135, 0.767); }

.btn {
  align-items: center;
  background-color: #f9aa33;
  display: flex;
  justify-content: center;
  height: 5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 3rem; }
  .btn:hover {
    background-color: #fabf65; }
  .btn--upload {
    align-items: center;
    background-color: #4a6572;
    border-radius: 10px;
    color: #fff;
    gap: 1rem;
    text-transform: uppercase; }
    .btn--upload svg {
      fill: #fff; }
  .btn--convert {
    align-items: center;
    color: #4a6572;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    transition: all 0.2s; }
    .btn--convert::before {
      content: ">";
      position: absolute;
      margin-right: 10px;
      border-radius: 50%;
      background-color: #4a6572;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #fff;
      left: 10%; }

.main {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  padding: 12rem 0;
  height: calc(100vh - 3rem);
  width: 100%; }
  .main textarea {
    border-radius: 1rem;
    color: #fff;
    font-family: inherit;
    height: 33rem;
    width: 38rem; }
    .main textarea:focus {
      outline: none; }

.section-input {
  display: flex; }
  .section-input__group {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .section-input__group textarea {
      background-color: #232f34;
      padding: 1rem;
      border: solid 10px #344955; }

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center; }

.section-output__group {
  display: flex;
  justify-content: space-between; }

.section-output textarea {
  background-color: #344955;
  color: #fff;
  padding: 2rem;
  margin-bottom: 1rem; }
