.section-output {
  max-width: 38rem;
  max-height: 33rem;

  @media only screen and (max-width: 415px) {
    max-width: 100%;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    background-color: $color-primary;
    color: $white;
    padding: 2rem;
    margin-bottom: 1rem;
  }
}
