.section-output {
  max-width: 38rem;
  width: 100%;

  @media only screen and (max-width: 415px) {
    max-width: 100%;
    width: 100%;
  }

  &__group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  textarea {
    color: $white;
    padding: 2rem;
    background-color: $color-primary-dark-1;
    margin-bottom: 1rem;
  }
}
