.section-input {
  max-width: 38rem;
  max-height: 33rem;


  @media only screen and (max-width: 900px) {
    margin-bottom: 8rem;
  }

  @media only screen and (max-width: 415px) {
    max-width: 100%;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      background-color: $color-primary-dark-1;
      padding: 1rem;
      border: solid 10px $color-primary;
    }
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: fit-content;
  transform: translateY(100%);

  @media only screen and (max-width: 900px) {
    transform: translateY(0);
    margin-bottom: 2rem;
  }
}
