.section-output {
  textarea {
    color: $black;
    padding: 2rem;
    background-color: $color-primary-dark-1;
    color: $white;
    // Código para demostração da secção será substituído em breve!
  }
}
