.section-input {
  display: flex;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      background-color: $color-primary-dark-1;
      padding: 1rem;
      border: solid 10px $color-primary;
    }
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
