.btn {
  display: flex;
  justify-content: center;
  height: 5rem;
  border: none;
  border-radius: 5px;
  min-width: 12rem;
  cursor: pointer;
  transition: background-color ease-in-out .4s;

  &:hover {
    background-color: $color-secondary-light;
  }

  &--upload {
    align-items: center;
    background-color: $color-primary-light;
    border-radius: 10px;
    color: $white;
    gap: 1rem;
    text-transform: uppercase;

    svg {
      color: $color-secondary;
    }
  }

  &--convert {
    background-color: $color-secondary;
    align-items: center;
    padding: 0 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary-light;
    position: relative;

    &::before {
      content: ">";
      color: $color-secondary;
      font-size: 18px;
      position: absolute;
      margin-right: 20px;
      border-radius: 50%;
      background-color: $color-primary-light;
      width: 20px;
      height: 20px;
      line-height: 20px;
      left: 10%;
    }
  }
}
