.main {
  display: flex;
  font-size: $default-font-size;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  padding: 12rem 0;
  width: 100%;
  height: calc(100vh - 32px);

  @media only screen and (max-width: 900px) {
    height: 100%;
    flex-direction: column;
    max-width: 38rem;
    padding: 8rem 1rem;
  }

  textarea {
    border-radius: 1rem;
    color: $white;
    font-family: inherit;
    height: 33rem;
    width: 38rem;

    @media only screen and (max-width: 568px) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }
}
