//FONT
$display: "roboto", sans-serif;
$default-font-size: 1.6rem;

//COLORS
$color-primary: #344955;
$color-primary-light: #4a6572;
$color-primary-dark-1: #232f34;

$color-secondary: #f9aa33;

$white: #fff;
$black: #222;
